
- name: Prelim Playbook
  hosts: all
  become: yes
  vars_files:
    - config.yml

  tasks:

  - name: Install Python3 and pip3
    apt:
      name:
        - python3
        - python3-pip
      state: latest

  - name: Install Python MySQL connector
    apt:
      name: python3-pymysql
      state: present

  - name: Install OpenJDK
    package:
      name: openjdk-21-jdk
      state: present

  - name: Install MariaDB
    package:
      name:
        - mariadb-server
        - mariadb-client
      state: present

  - name: Start MariaDB Service
    service:
      name: mariadb
      state: started
      enabled: yes

  - name: Create database
    mysql_db:
      name: prelim
      state: present
      login_user: root
      login_unix_socket: /var/run/mysqld/mysqld.sock

  - name: Set MOTD message
    copy:
      content: "{{ motd_message | default('Ansible Managed node by Isaac') }}"
      dest: /etc/motd

  - name: Create user
    user:
      name: Isaac
      state: present

  - name: Set python3 as default python
    alternatives:
      name: python3
      path: /usr/bin/python3
      
  - name: Create table and insert record
    mysql_query:
      login_db: root
      query:
        CREATE TABLE IF NOT EXISTS exam_table
        (id INT PRIMARY KEY AUTO_INCREMENT, name VARCHAR(50));
        INSERT INTO exam_table (name) VALUES ('Ansible Exam');

